<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Etykiety.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <Etykiety.Properties.Settings>
            <setting name="Zapytanie" serializeAs="String">
                <value>DECLARE @nrPrzewodnika int=1505000370
SELECT distinct
	 ISNULL(ORI.CustomText,'') 'Zamówienie sprzedaży'
	,ORH.OHNum 'Numer zlecenia'
	,PRH.PrNum 'Numer przewodnika'
	,ITI.ItemNum 'Kod elementu wiodacego'
	,ITI.Shortname 'Nazwa elementu wiodącego'
	--,ITIS.ItemNum 'Kod elementu'
	--,ITIS.Shortname 'Nazwa elementu'
FROM ssk.ORHeads ORH --Nagłówek zlecenia produkcyjnego
JOIN ssk.ORItems ORI ON ORI.ORHeads_ID=ORH.Rid --Pozycje zlecenia produkcyjnego
JOIN ssk.ITItems ITI ON ORI.Items_Id=ITI.Rid --Elementy, surowce
JOIN ssk.ORBom ORB ON ORB.ORItems_Id=ORI.Rid --Specyfikacja zlecenia (specyfikacja pozycji zamówienia)
JOIN ssk.ORBomAmount ORBA ON ORBA.ORBom_Id=ORB.Rid --Ilości w specyfikacji i sposób realizacji
JOIN ssk.ORBomProd ORBP ON ORBP.ORBomAmount_Id=ORBA.Rid --Relacje ORBOMAmount - PRHead
JOIN ssk.PRHeads PRH ON PRH.Rid=ORBP.PRHeads_Id--Przewodniki warsztatowe 
JOIN ssk.PRHeadsOperations PRHO ON PRHO.PRHeads_id=PRH.Rid --Planowane operacje
--JOIN ssk.ITItems ITIS ON PRH.ITItems_Id=ITIS.Rid --Elementy, surowce
WHERE PRH.PrNum = @nrPrzewodnika
</value>
            </setting>
        </Etykiety.Properties.Settings>
    </userSettings>
</configuration>
